body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body .contain start {
  width: 30px;
}

body .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

body .steps .other {
  display: flex;
  align-items: center;
}

body .steps .other span {
  width: 200px;
  height: 10px;
  background-color: #ccc;
}

body .steps .other .bgc {
  background-color: #3498DB;
  transition: all 0.4s;
}

body .steps .one, body .steps em {
  font-style: normal;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border: 4px solid #ccc;
}

body .steps .actives {
  border: 4px solid #3498DB;
}

body .btn {
  text-align: center;
  margin-top: 100px;
}

body .btn button {
  margin: 0 5px;
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #3498DB;
}

body .btn button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
